.about-us-child {
  position: absolute;
  top: -1995px;
  left: 406px;
  filter: blur(1000px);
  border-radius: 50%;
  background-color: var(--color-red);
  width: 3000px;
  height: 3000px;
}
.frame-icon {
  width: 300px;
  position: relative;
  height: 300px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.the {
  align-self: stretch;
  position: relative;
}
.previously-on-netflix2 {
  position: relative;
  font-size: var(--font-size-131xl);
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
}
.frame-parent60 {
  width: 826px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.our-goal {
  position: relative;
}
.our-goal-wrapper {
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-31xl);
}
.the-previously-on {
  margin: 0;
}
.the-previously-on-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-17xl);
  font-family: var(--font-inter);
  color: var(--color-white);
}
.frame-parent62 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-56xl);
}
.abhaya-trivedi {
  width: 242px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.linkedin-icon {
  width: 48px;
  position: relative;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
}
.abhaya-trivedi-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sophomore-at-igdtuw-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-9xl);
  font-family: var(--font-inter);
  color: var(--color-white);
}
.frame-parent65,
.frame-parent66,
.frame-wrapper7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent66 {
  align-self: stretch;
  gap: var(--gap-base);
}
.frame-parent65,
.frame-wrapper7 {
  width: 442px;
}
.frame-parent65 {
  width: 1536px;
  flex-direction: row;
  justify-content: space-between;
}
.frame-parent64,
.frame-parent69 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 128px;
}
.frame-parent64 {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  gap: 104px;
  font-size: var(--font-size-29xl);
  color: var(--color-red);
}
.frame-parent59,
.frame-parent61 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-131xl);
}
.frame-parent61 {
  align-self: stretch;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
}
.frame-parent59 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  align-items: center;
  padding: var(--padding-77xl);
  box-sizing: border-box;
}
.about-us4 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 2497px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-56xl);
  color: var(--color-white);
  font-family: var(--font-bebas-neue);
}
