.next7 {
  width: 102px;
  position: relative;
  display: inline-block;
  height: 59px;
  flex-shrink: 0;
}
.next-wrapper5 {
  position: absolute;
  top: 912px;
  left: 96px;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  width: 1536px;
  height: 109px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xl) var(--padding-45xl) var(--padding-xl);
  box-sizing: border-box;
  cursor: pointer;
  z-index: 10;
}
.according-to-your {
  position: relative;
}
.badge-design {
  position: absolute;
  top: 114px;
  left: 10px;
}
.badge-design-wrapper {
  width: 300px;
  position: relative;
  background-color: var(--color-white);
  height: 300px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: 60px;
  color: var(--color-black);
}
.hopeless-romantic {
  position: relative;
  font-size: var(--font-size-81xl);
  background: linear-gradient(91.56deg, #e453b6, #009);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.according-to-your-watch-histor-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 1117px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-156xl) var(--padding-77xl) var(--padding-77xl);
  box-sizing: border-box;
  gap: 80px;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
}
.badge-of-genre {
  width: 100%;
  position: relative;
  background: linear-gradient(247.74deg, #6abefe, #000);
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-bebas-neue);
}
