.next6 {
  width: 102px;
  position: relative;
  display: inline-block;
  height: 59px;
  flex-shrink: 0;
}
.next-wrapper4 {
  position: absolute;
  top: 912px;
  left: 96px;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  width: 1536px;
  height: 109px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xl) var(--padding-45xl) var(--padding-xl);
  box-sizing: border-box;
  cursor: pointer;
  z-index: 10;
}
.sunday,
.you-binge-netflix {
  margin: 0;
}
.sunday {
  font-size: var(--font-size-131xl);
  color: var(--color-lightcoral);
}
.you-binge-netflix-container1 {
  width: 100%;
}
.you-binge-netflix-container {
  width: 886px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  filter: drop-shadow(13px 13px 4px rgba(0, 0, 0, 0.25));
}
.heres-your-binge,
.you-binge-netflix-container {
  align-self: stretch;
  position: relative;
}
.frame-child75 {
  width: 650px;
  position: relative;
  background-color: var(--color-white);
  height: 400px;
  overflow: hidden;
  flex-shrink: 0;
}
.heres-your-binge-activity-by-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-29xl);
}
.you-binge-netflix-most-on-sund-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.binge-day-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 1117px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-231xl) var(--padding-77xl) var(--padding-77xl);
  box-sizing: border-box;
  font-size: var(--font-size-81xl);
  color: var(--color-white);
}
.binge-day {
  width: 100%;
  position: relative;
  background: linear-gradient(247.74deg, #7a53ac, #000);
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-bebas-neue);
}
