.blend-3-child,
.blend-3-item {
  position: absolute;
  top: 893px;
  left: 1342px;
  filter: blur(1000px);
  border-radius: 50%;
  background-color: var(--color-red);
  width: 1925px;
  height: 1289px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.blend-3-item {
  top: 1471px;
  left: 2350px;
  background-color: var(--color-deepskyblue-100);
  width: 1788px;
  height: 1385px;
}
.frame-child22,
.the-netflix-watch {
  position: relative;
}
.frame-child22 {
  width: 270px;
  background-color: var(--color-white);
  height: 400px;
  overflow: hidden;
  flex-shrink: 0;
}
.showmovie-name {
  align-self: stretch;
  position: relative;
}
.frame-parent27,
.the-netflix-watch-that-brings-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent27 {
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-9xl);
  font-family: var(--font-inter);
}
.the-netflix-watch-that-brings-parent {
  position: absolute;
  top: 296px;
  left: 562px;
  align-items: center;
  gap: var(--gap-5xl);
}
.blend-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-bebas-neue);
}
