.blend-4-child,
.blend-4-item {
  position: absolute;
  top: 103px;
  left: 364px;
  filter: blur(1000px);
  border-radius: 50%;
  background-color: var(--color-red);
  width: 1925px;
  height: 1289px;
}
.blend-4-item {
  top: -396px;
  left: -583px;
  background-color: var(--color-deepskyblue-100);
  width: 1788px;
  height: 1385px;
}
.frame-child23,
.here-are-a {
  position: relative;
  flex-shrink: 0;
}
.here-are-a {
  align-self: stretch;
  display: inline-block;
  height: 43px;
}
.frame-child23 {
  width: 270px;
  background-color: var(--color-white);
  height: 400px;
  overflow: hidden;
}
.show-name6 {
  align-self: stretch;
  position: relative;
}
.frame-parent29 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent28 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-9xl);
  font-family: var(--font-inter);
}
.blend-4-inner,
.here-are-a-few-show-recommenda-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.here-are-a-few-show-recommenda-parent {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-77xl);
}
.blend-4-inner {
  position: absolute;
  width: 100%;
  top: calc(50% - 386.5px);
  right: 0;
  left: 0;
  align-items: flex-start;
  padding: var(--padding-77xl);
  box-sizing: border-box;
}
.blend-4 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 1117px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-bebas-neue);
}
