.property-1default-icon,
.property-1variant2-icon,
.property-1variant3-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 1728px;
  height: 1117px;
  overflow: hidden;
}
.property-1variant2-icon,
.property-1variant3-icon {
  top: 1157px;
}
.property-1variant3-icon {
  top: 2294px;
}
.property-1variant4-icon,
.property-1variant5-icon,
.property-1variant6-icon {
  position: absolute;
  top: 3431px;
  left: 20px;
  width: 1728px;
  height: 1117px;
  overflow: hidden;
}
.property-1variant5-icon,
.property-1variant6-icon {
  top: 4568px;
}
.property-1variant6-icon {
  top: 5705px;
}
.blend-animation {
  width: 100%;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  height: 6842px;
  overflow: hidden;
}
