.blend-2-child,
.blend-2-item {
  position: absolute;
  top: 103px;
  left: 364px;
  filter: blur(1000px);
  border-radius: 50%;
  background-color: var(--color-red);
  width: 1925px;
  height: 1289px;
}
.blend-2-item {
  top: -396px;
  left: -583px;
  background-color: var(--color-deepskyblue-100);
  width: 1788px;
  height: 1385px;
}
.div1,
.your-taste-match {
  align-self: stretch;
  position: relative;
}
.div1 {
  font-size: var(--font-size-81xl);
}
.your-taste-match-is-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.you-two-are {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-17xl);
}
.frame-parent26 {
  position: absolute;
  top: 376px;
  left: 620px;
  width: 488px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-77xl);
}
.blend-2 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-56xl);
  color: var(--color-white);
  font-family: var(--font-bebas-neue);
}
