.blend-5-child,
.blend-5-item {
  position: absolute;
  top: 893px;
  left: 1342px;
  filter: blur(1000px);
  border-radius: 50%;
  background-color: var(--color-red);
  width: 1925px;
  height: 1289px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.blend-5-item {
  top: 1471px;
  left: 2350px;
  background-color: var(--color-deepskyblue-100);
  width: 1788px;
  height: 1385px;
}
.and-some-movie {
  align-self: stretch;
  position: relative;
  display: inline-block;
  height: 43px;
  flex-shrink: 0;
}
.frame-child28 {
  width: 270px;
  position: relative;
  background-color: var(--color-white);
  height: 400px;
  overflow: hidden;
  flex-shrink: 0;
}
.show-name11 {
  align-self: stretch;
  position: relative;
}
.frame-parent35 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent34 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-9xl);
  font-family: var(--font-inter);
}
.and-some-movie-recommendations-parent,
.blend-5-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.and-some-movie-recommendations-parent {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-77xl);
}
.blend-5-inner {
  position: absolute;
  width: 100%;
  top: calc(50% - 456px);
  right: 0;
  left: 0;
  align-items: flex-start;
  padding: var(--padding-77xl);
  box-sizing: border-box;
}
.blend-5 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 1117px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-bebas-neue);
}
