.blend-landing-child,
.blend-landing-item {
  position: absolute;
  top: 531px;
  left: -538px;
  filter: blur(1000px);
  border-radius: 50%;
  background-color: var(--color-red);
  width: 1228px;
  height: 1228px;
}
.blend-landing-item {
  top: -526px;
  left: 1114px;
  background-color: var(--color-deepskyblue-100);
}
.logo-2-icon2 {
  width: 70.1px;
  position: relative;
  height: 80px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.about-us2 {
  position: relative;
  cursor: pointer;
}
.logo-2-group {
  position: absolute;
  top: -8px;
  left: 0;
  width: 1728px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-77xl) var(--padding-77xl) 0;
  box-sizing: border-box;
}
.frame-child21 {
  width: 250px;
  position: relative;
  background-color: var(--color-white);
  height: 250px;
  overflow: hidden;
  flex-shrink: 0;
}
.blend-your-netflix {
  align-self: stretch;
  position: relative;
}
.frame-parent23 {
  width: 908px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.upload-icon1 {
  width: 40px;
  position: relative;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper2,
.upload-group {
  display: flex;
  justify-content: flex-start;
}
.upload-group {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-14xl);
}
.frame-wrapper2 {
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xl) var(--padding-8xl);
}
.upload-your-friends {
  position: relative;
}
.frame-parent25 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: 146px;
}
.frame-parent25,
.frame-wrapper4,
.lets-blend-wrapper {
  display: flex;
  justify-content: flex-start;
}
.lets-blend-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.frame-wrapper4 {
  box-shadow: 12px 12px 8px rgba(0, 0, 0, 0.25);
  background: linear-gradient(258.52deg, #9e0100, #64b2f9);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xl) var(--padding-8xl);
  cursor: pointer;
}
.frame-parent22,
.frame-parent24 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame-parent24 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.frame-parent22 {
  position: absolute;
  top: 213px;
  left: 167px;
  width: 1394px;
  height: 690px;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-53xl);
}
.blend-landing {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-bebas-neue);
}
