.blend-animation-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 1117px;
  overflow: hidden;
}
.blending {
  position: absolute;
  top: 520px;
  left: 768px;
}
.blend-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--font-bebas-neue);
}
