.blend-final-child,
.blend-final-item,
.ellipse-div,
.frame-child33 {
  position: absolute;
  top: 103px;
  left: 364px;
  filter: blur(1000px);
  border-radius: 50%;
  background-color: var(--color-red);
  width: 1925px;
  height: 1289px;
}
.blend-final-item,
.ellipse-div,
.frame-child33 {
  top: -396px;
  left: -583px;
  background-color: var(--color-deepskyblue-100);
  width: 1788px;
  height: 1385px;
}
.ellipse-div,
.frame-child33 {
  top: -174px;
  left: -180px;
  filter: blur(400px);
  background-color: var(--color-red);
  width: 420px;
  height: 420px;
}
.frame-child33 {
  top: 550px;
  left: 205px;
  background-color: var(--color-deepskyblue-200);
}
.blend-percentage,
.div2 {
  align-self: stretch;
  position: relative;
}
.div2 {
  font-size: var(--font-size-45xl);
}
.blend-percentage-parent {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-child34 {
  width: 96px;
  position: relative;
  background-color: var(--color-white);
  height: 142px;
  overflow: hidden;
  flex-shrink: 0;
}
.top-show-match-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.ellipse-parent,
.netflix-blend-parent {
  position: absolute;
  box-sizing: border-box;
  width: 480px;
}
.netflix-blend-parent {
  top: 0;
  left: 0;
  height: 853px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-17xl);
  gap: 125px;
}
.ellipse-parent {
  top: 132px;
  left: 154px;
  background-color: var(--color-black);
  border: 1px solid var(--color-black);
  height: 853.3px;
  overflow: hidden;
}
.print {
  flex: 1;
  position: relative;
}
.print-wrapper {
  width: 350px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  font-size: var(--font-size-37xl);
  color: var(--color-black);
}
.print-your-blend-here-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-parent41,
.wrapped-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapped-wrapper {
  width: 350px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  cursor: pointer;
}
.frame-parent41 {
  align-self: stretch;
  justify-content: space-between;
  padding: 0 var(--padding-5xl) 0 0;
  text-align: center;
  font-size: var(--font-size-37xl);
  color: var(--color-black);
}
.try-out-our-other-features-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: left;
}
.frame-parent40 {
  position: absolute;
  top: 0;
  left: 904px;
  width: 782px;
  height: 1117px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-77xl) 0;
  box-sizing: border-box;
  gap: var(--gap-231xl);
  font-size: var(--font-size-53xl);
}
.blend-final {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-bebas-neue);
}
