.next5 {
  width: 102px;
  position: relative;
  display: inline-block;
  height: 59px;
  flex-shrink: 0;
}
.next-wrapper3 {
  position: absolute;
  top: 912px;
  left: 96px;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  width: 1536px;
  height: 109px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xl) var(--padding-45xl) var(--padding-xl);
  box-sizing: border-box;
  cursor: pointer;
  z-index: 10;
}
.you-are-a {
  margin: 0;
}
.s,
.span1 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.s {
  margin: 0;
  font-size: var(--font-size-131xl);
  background: linear-gradient(145.66deg, #f4b146, #6abefe);
}
.span1 {
  background: linear-gradient(203.34deg, #e453b6, #fd5e62);
}
.you-watched-20-movies-from-the {
  margin: 0;
  font-size: var(--font-size-56xl);
}
.you-are-a-container {
  align-self: stretch;
  position: relative;
}
.decade-mood-inner,
.you-are-a-2000s-kid-you-watch-wrapper {
  width: 1728px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-156xl) var(--padding-77xl) 0;
  box-sizing: border-box;
}
.decade-mood-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding: 0 0 var(--padding-77xl);
  font-size: var(--font-size-81xl);
  color: var(--color-white);
}
.decade-mood {
  width: 100%;
  position: relative;
  background: linear-gradient(247.74deg, #460e01, #000);
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-bebas-neue);
}
