.next3 {
  width: 102px;
  position: relative;
  display: inline-block;
  height: 59px;
  flex-shrink: 0;
}
.frame-child5,
.next-wrapper1 {
  background-color: var(--color-white);
  overflow: hidden;
}
.next-wrapper1 {
  position: absolute;
  top: 912px;
  left: 96px;
  border-radius: var(--br-81xl);
  width: 1536px;
  height: 109px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xl) var(--padding-45xl) var(--padding-xl);
  box-sizing: border-box;
  cursor: pointer;
  z-index: 10;
}
.frame-child5 {
  width: 190.4px;
  position: relative;
  height: 220px;
  flex-shrink: 0;
}
.director-name {
  margin: 0;
}
.director-name-number {
  align-self: stretch;
  position: relative;
}
.frame-parent9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
}
.here-are-the-top-5-directors-w-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.and-the-top {
  align-self: stretch;
  position: relative;
  display: inline-block;
  height: 43px;
  flex-shrink: 0;
}
.frame-parent7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 56px;
}
.directors-actors-inner,
.frame-wrapper1 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.frame-wrapper1 {
  top: calc(50% - 558.5px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-77xl);
  box-sizing: border-box;
}
.directors-actors-inner {
  height: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
  color: var(--color-white);
}
.directors-actors {
  width: 100%;
  position: relative;
  background: linear-gradient(247.74deg, #f4b146, #000);
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-bebas-neue);
}
