.netflix-wrapped-2024 {
  align-self: stretch;
  position: relative;
  text-align: center;
}
.genre-badge {
  position: absolute;
  top: 78.3px;
  left: 26px;
}
.genre-badge-wrapper {
  width: 200px;
  position: relative;
  background-color: var(--color-white);
  height: 200px;
  overflow: hidden;
  flex-shrink: 0;
}
.top-shows {
  align-self: stretch;
  position: relative;
}
.show-name-1 {
  margin-bottom: 0;
}
.show-name-1-show-name-2-show-n {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-13xl);
}
.show-name-1-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.03em;
}
.top-shows-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.actor-name-1-container {
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.03em;
}
.frame-parent143,
.frame-parent144 {
  display: flex;
  align-items: flex-start;
}
.frame-parent144 {
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-5xl);
}
.frame-parent143 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-17xl);
  font-size: var(--font-size-11xl);
}
.div3 {
  align-self: stretch;
  font-size: var(--font-size-29xl);
  letter-spacing: 0.03em;
}
.div3,
.romance,
.top-genre {
  position: relative;
}
.romance {
  font-size: var(--font-size-29xl);
  letter-spacing: 0.03em;
}
.frame-parent145 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-17xl);
}
.netflix-wrapped-2024-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
  height: 853px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-17xl) 0;
  box-sizing: border-box;
}
.final-stats-inner {
  position: absolute;
  top: 132px;
  left: 154px;
  border-radius: var(--br-31xl);
  background: linear-gradient(206.98deg, #ded4c6, #ad9d85);
  width: 480px;
  height: 853.3px;
  overflow: hidden;
}
.print1 {
  flex: 1;
  position: relative;
}
.print-container {
  width: 350px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  font-size: var(--font-size-37xl);
  color: var(--color-black);
}
.print-your-wrapped-here-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-parent147,
.roast-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.roast-container {
  width: 350px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  cursor: pointer;
}
.frame-parent147 {
  align-self: stretch;
  justify-content: space-between;
  padding: 0 var(--padding-5xl) 0 0;
  text-align: center;
  font-size: var(--font-size-37xl);
  color: var(--color-black);
}
.try-out-our-other-features-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: left;
}
.frame-parent146 {
  position: absolute;
  top: 0;
  left: 904px;
  width: 782px;
  height: 1117px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-77xl) 0;
  box-sizing: border-box;
  gap: var(--gap-231xl);
  text-align: center;
  font-size: var(--font-size-53xl);
  color: var(--color-white);
}
.final-stats {
  width: 100%;
  position: relative;
  background: linear-gradient(247.74deg, #ec5810, #000);
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-bebas-neue);
}
