.next4 {
  width: 102px;
  position: relative;
  display: inline-block;
  height: 59px;
  flex-shrink: 0;
}
.next-wrapper2 {
  position: absolute;
  top: 912px;
  left: 96px;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  width: 1536px;
  height: 109px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xl) var(--padding-45xl) var(--padding-xl);
  box-sizing: border-box;
  cursor: pointer;
  z-index: 10;
}
.here-is-your {
  align-self: stretch;
  position: relative;
}
.frame-child15,
.frame-child16 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-child15 {
  align-self: stretch;
  border-radius: var(--br-xl);
  background: linear-gradient(178.42deg, #ffa072, #cc8664 86.1%);
  height: 70px;
}
.frame-child16 {
  width: 650px;
  border-radius: var(--br-11xl);
  background: linear-gradient(125.79deg, #0c4633, #33bf41 74%);
  height: 16px;
}
.genre-1 {
  position: absolute;
  top: 27px;
  left: 224px;
}
.genre-1-wrapper {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-11xl);
  background: linear-gradient(125.79deg, #64b2f9, #9747ff);
  height: 150px;
  overflow: hidden;
  flex-shrink: 0;
}
.genre-2 {
  position: absolute;
  top: 5px;
  left: 230px;
}
.genre-2-wrapper {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-11xl);
  background: linear-gradient(0deg, #fd5e62, #97383a);
  height: 100px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-56xl);
}
.genre-3 {
  position: absolute;
  top: 7.5px;
  left: 262px;
}
.genre-3-wrapper {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-11xl);
  background: linear-gradient(0deg, #9747ff, #5b2b99);
  height: 75px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-31xl);
}
.genre-4 {
  position: absolute;
  top: 6px;
  left: 268px;
}
.genre-4-wrapper {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-11xl);
  background: linear-gradient(0deg, #64b2f9, #3b6993);
  height: 65px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: 45px;
}
.genre-5 {
  position: absolute;
  top: 6px;
  left: 274px;
}
.frame-child20,
.genre-5-wrapper {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.genre-5-wrapper {
  border-radius: var(--br-11xl);
  background: linear-gradient(0deg, #f4b146, #8e6729);
  height: 60px;
  font-size: var(--font-size-21xl);
}
.frame-child20 {
  border-radius: var(--br-xl);
  background: linear-gradient(180deg, #cc8664, #664332);
  height: 70px;
}
.frame-parent20 {
  width: 650px;
  box-shadow: 13px 13px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 80px;
}
.genre-burger-inner,
.here-is-your-genre-sandwich-parent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.here-is-your-genre-sandwich-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-77xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.genre-burger-inner {
  overflow: hidden;
  font-size: var(--font-size-56xl);
  color: var(--color-white);
}
.genre-burger {
  width: 100%;
  position: relative;
  background: linear-gradient(247.74deg, #fc8297, #000);
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-bebas-neue);
}
