body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-bebas-neue: "Bebas Neue";
  --font-inter: Inter;

  /* font sizes */
  --font-size-81xl: 100px;
  --font-size-31xl: 50px;
  --font-size-56xl: 75px;
  --font-size-65xl: 84px;
  --font-size-45xl: 64px;
  --font-size-29xl: 48px;
  --font-size-9xl: 28px;
  --font-size-5xl: 24px;
  --font-size-21xl: 40px;
  --font-size-53xl: 72px;
  --font-size-17xl: 36px;
  --font-size-37xl: 56px;
  --font-size-77xl: 96px;
  --font-size-131xl: 150px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-white: #fff;
  --color-lightsalmon: #ffa072;
  --color-goldenrod: #f4b146;
  --color-black: #000;
  --color-lightcoral: #fc8297;
  --color-deepskyblue-100: #6abefe;
  --color-deepskyblue-200: #64b2f9;
  --color-mediumpurple: #7a53ac;
  --color-hotpink: rgba(228, 83, 182, 0.3);
  --color-mediumblue: #0601d6;
  --color-darkblue: #000099;
  --color-red: #fb0200;
  --color-tomato: #fd5e62;
  --color-orangered: #ec5810;
  --color-gray-100: rgba(0, 0, 0, 0);
  --color-gray-200: rgba(255, 255, 255, 0);
  --color-gray-300: rgba(255, 255, 255, 0.22);
  --color-slateblue: rgba(126, 87, 194, 0);
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: rgba(230, 230, 230, 0);
  --color-blueviolet: #9747ff;
  --color-silver: #c2c2c2;

  /* Gaps */
  --gap-29xl: 48px;
  --gap-131xl: 150px;
  --gap-81xl: 100px;
  --gap-5xs: 8px;
  --gap-5xl: 24px;
  --gap-14xl: 33px;
  --gap-77xl: 96px;
  --gap-45xl: 64px;
  --gap-base: 16px;
  --gap-231xl: 250px;
  --gap-101xl: 120px;
  --gap-25xl: 44px;
  --gap-xs: 12px;
  --gap-41xl: 60px;
  --gap-56xl: 75px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-231xl: 250px;
  --padding-181xl: 200px;
  --padding-77xl: 96px;
  --padding-11xl: 30px;
  --padding-45xl: 64px;
  --padding-xl: 20px;
  --padding-3xs: 10px;
  --padding-5xl: 24px;
  --padding-8xl: 27px;
  --padding-5xs: 8px;
  --padding-17xl: 36px;
  --padding-xs: 12px;
  --padding-916xl: 935px;
  --padding-31xl: 50px;
  --padding-156xl: 175px;
  --padding-13xl: 32px;

  /* Border radiuses */
  --br-81xl: 100px;
  --br-xl: 20px;
  --br-11xl: 30px;
  --br-31xl: 50px;
  --br-8xs: 5px;
}
