.next9 {
  width: 102px;
  position: relative;
  display: inline-block;
  height: 59px;
  flex-shrink: 0;
}
.next-wrapper7 {
  position: absolute;
  top: 912px;
  left: 96px;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  width: 1536px;
  height: 109px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xl) var(--padding-45xl) var(--padding-xl);
  box-sizing: border-box;
  cursor: pointer;
  z-index: 10;
}
.according-to-imdb1,
.the-highest-rated1 {
  width: 768px;
  position: relative;
  display: inline-block;
}
.the-highest-rated1 {
  width: 748px;
}
.frame-child78 {
  width: 270px;
  position: relative;
  background-color: var(--color-white);
  height: 400px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent130,
.the-highest-rated-show-youve-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent130 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--font-size-53xl);
}
.according-to-imdb-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 1117px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-77xl);
  box-sizing: border-box;
  gap: var(--gap-29xl);
  font-size: var(--font-size-45xl);
  color: var(--color-white);
}
.imdb-shows {
  width: 100%;
  position: relative;
  background: linear-gradient(247.74deg, #528cc1, #000);
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-bebas-neue);
}
