.juraj-gabriel-quakyro-qqi-unsp-icon {
  position: absolute;
  top: -8px;
  left: 0;
  width: 1728px;
  height: 2608.9px;
  object-fit: cover;
}
.frame-child {
  width: 300px;
  position: relative;
  height: 300px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.welcome-to {
  margin: 0;
}
.previously-on-netflix {
  margin: 0;
  font-size: var(--font-size-81xl);
}
.welcome-to-previously-container {
  position: relative;
}
.frame-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.arrow-down-icon {
  width: 144px;
  position: relative;
  height: 162px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  margin-top: -50px;
}
.frame-parent {
  position: absolute;
  top: 0;
  left: 588px;
  width: 551px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-231xl) 0;
  box-sizing: border-box;
}
.landing1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2115px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-bebas-neue);
}
