.juraj-gabriel-quakyro-qqi-unsp-icon1 {
  position: absolute;
  top: -463px;
  left: 0;
  width: 1728px;
  height: 2608.9px;
  object-fit: cover;
}
.logo-2-icon1 {
  width: 70.1px;
  position: relative;
  height: 80px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.about-us1 {
  position: relative;
  cursor: pointer;
}
.logo-2-parent {
  position: absolute;
  top: -8px;
  left: 0;
  width: 1728px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-77xl) var(--padding-77xl) 0;
  box-sizing: border-box;
  text-align: left;
}
.welcome-to-the {
  margin: 0;
}
.previously-on-netflix1 {
  margin: 0;
  font-size: var(--font-size-81xl);
}
.welcome-to-the-container {
  position: absolute;
  top: 210px;
  left: 506px;
  font-size: var(--font-size-31xl);
}
.netflix-wrapped-wrapper {
  width: 567px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-77xl);
  box-sizing: border-box;
  cursor: pointer;
}
.netflix-blend {
  flex: 1;
  position: relative;
}
.frame-parent21,
.roast-my-taste-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.roast-my-taste-wrapper {
  width: 567px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-3xs) var(--padding-77xl);
  box-sizing: border-box;
}
.frame-parent21 {
  position: absolute;
  top: 725px;
  left: 96px;
  width: 1536px;
  flex-wrap: wrap;
  gap: var(--gap-77xl);
  font-size: var(--font-size-45xl);
  color: var(--color-black);
}
.landing2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2115px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-bebas-neue);
}
