.next1 {
  width: 102px;
  position: relative;
  display: inline-block;
  height: 59px;
  flex-shrink: 0;
}
.next-container {
  position: absolute;
  top: 912px;
  left: 96px;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  width: 1536px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xl) var(--padding-45xl) var(--padding-xl);
  box-sizing: border-box;
  cursor: pointer;
  z-index: 10;
}
.you-watched {
  position: relative;
}
.show-name {
  font-size: var(--font-size-81xl);
  color: var(--color-lightcoral);
  text-shadow: 13px 13px 4px rgba(0, 0, 0, 0.25);
}
.div,
.show-name,
.times {
  position: relative;
}
.div {
  text-shadow: 13px 13px 4px rgba(0, 0, 0, 0.25);
}
.times {
  font-size: var(--font-size-56xl);
  color: var(--color-white);
}
.parent,
.you-watched-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.parent {
  flex-direction: row;
  gap: 15px;
  font-size: var(--font-size-81xl);
  color: var(--color-lightcoral);
}
.you-watched-parent {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.frame-item {
  width: 405px;
  position: relative;
  background-color: var(--color-white);
  height: 600px;
  overflow: hidden;
  flex-shrink: 0;
}
.making-it-the {
  margin: 0;
}
.frame-div,
.making-it-the-show-you-binged-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-div {
  align-self: stretch;
  flex-direction: row;
  padding: 0 151px 0 196px;
  gap: var(--gap-81xl);
}
.frame-wrapper,
.mostwatched-inner {
  width: 1728px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-181xl) var(--padding-77xl) 0;
  box-sizing: border-box;
}
.mostwatched-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 1117px;
  align-items: flex-start;
  padding: 0 0 var(--padding-77xl);
  font-size: var(--font-size-45xl);
  color: var(--color-white);
}
.mostwatched {
  width: 100%;
  position: relative;
  background: linear-gradient(247.74deg, #d71611, #000);
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-bebas-neue);
}
