.next2 {
  width: 102px;
  position: relative;
  display: inline-block;
  height: 59px;
  flex-shrink: 0;
}
.next-frame {
  position: absolute;
  top: 912px;
  left: 96px;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  width: 1536px;
  height: 109px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xl) var(--padding-45xl) var(--padding-xl);
  box-sizing: border-box;
  cursor: pointer;
}
.frame-inner,
.here-are-the {
  position: relative;
  flex-shrink: 0;
}
.here-are-the {
  align-self: stretch;
  display: inline-block;
  height: 43px;
}
.frame-inner {
  width: 270px;
  background-color: var(--color-white);
  height: 400px;
  overflow: hidden;
}
.mins {
  margin: 0;
}
.show-name-100-mins-container {
  align-self: stretch;
  position: relative;
}
.frame-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-9xl);
  font-family: var(--font-inter);
}
.here-are-the-5-shows-you-watch-parent,
.mostwatched-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.here-are-the-5-shows-you-watch-parent {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-29xl);
}
.mostwatched-child {
  position: absolute;
  width: 100%;
  top: calc(50% - 558.5px);
  right: 0;
  left: 0;
  align-items: flex-start;
  padding: var(--padding-181xl) var(--padding-77xl) var(--padding-77xl);
  box-sizing: border-box;
  color: var(--color-white);
}
.mostwatched1 {
  width: 100%;
  position: relative;
  background: linear-gradient(247.74deg, #fc8297, #000);
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-bebas-neue);
}
