<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='movie-recs.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="movie-recs">
      <div class="next-wrapper9" id="frameContainer">
        <div class="next11">NEXT</div>
      </div>
      <div class="movie-recs-inner">
        <div class="frame-wrapper20">
          <div class="based-on-your-netflix-wrapped-group">
            <div class="based-on-your8">
              Based on your Netflix wrapped, here are some movie recommendations:
            </div>
            <div class="frame-parent137">
              {% for movie_name, poster_url in recommendations %}
              <div class="frame-parent138">
                <img src="{{ poster_url }}" alt="{{ movie_name }}" class="frame-child85" />
                <div class="show-name21">{{ movie_name }}</div>
              </div>
              {% endfor %}
            </div>
            <div class="based-on-your8">We hope you enjoy these!</div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var frameContainer = document.getElementById("frameContainer");
      if (frameContainer) {
        frameContainer.addEventListener("click", function (e) {
          window.location.href = "./final-stats.html";
        });
      }
    </script>
  </body>
</html>
