.good1 {
  flex: 1;
  position: relative;
}
.good-container,
.i-just-watched-it-for-fun-container {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) 0 var(--br-31xl);
  background-color: var(--color-gainsboro-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.i-just-watched-it-for-fun-container {
  border-radius: var(--br-31xl) 0 var(--br-31xl) var(--br-31xl);
}
.property-1default1 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.good-frame {
  align-self: stretch;
  border-radius: var(--br-31xl);
  background-color: var(--color-silver);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.property-1variant21,
.property-1variant31 {
  position: absolute;
  top: 236px;
  left: 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.property-1variant31 {
  top: 348px;
}
.option-11 {
  width: 100%;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  height: 564px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
