.yes1 {
  flex: 1;
  position: relative;
}
.maybe-container,
.no-container,
.yes-container {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) 0 var(--br-31xl);
  background-color: var(--color-gainsboro-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.maybe-container,
.no-container {
  border-radius: var(--br-31xl) 0 0 var(--br-31xl);
}
.maybe-container {
  border-radius: var(--br-31xl) 0 var(--br-31xl) var(--br-31xl);
}
.property-1default3 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--color-black);
}
.maybe-frame,
.no-frame,
.yes-frame {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.yes-frame {
  border-radius: var(--br-31xl);
  background-color: var(--color-silver);
  color: var(--color-black);
}
.maybe-frame,
.no-frame {
  border-radius: var(--br-31xl) 0 0 var(--br-31xl);
}
.maybe-frame {
  border-radius: var(--br-31xl) 0 var(--br-31xl) var(--br-31xl);
  background-color: var(--color-gainsboro-200);
}
.property-1variant23 {
  position: absolute;
  top: 340px;
  left: 20px;
  width: 600px;
  height: 104px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.no-wrapper2 {
  align-self: stretch;
  border-radius: var(--br-31xl) 0 0 var(--br-31xl);
  background-color: var(--color-gainsboro-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.property-1variant33,
.property-1variant42 {
  position: absolute;
  top: 660px;
  left: 20px;
  width: 600px;
  height: 104px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.property-1variant42 {
  top: 1018px;
}
.option-21 {
  width: 100%;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  height: 1338px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
