.heres-what-else {
  flex: 1;
  position: relative;
}
.heres-what-else-is-going-on-i-wrapper {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-slateblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.frame-wrapper6,
.none-wrapper {
  align-self: stretch;
  display: flex;
}
.none-wrapper {
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-slateblue);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.frame-wrapper6 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child40 {
  width: 26px;
  position: relative;
  height: 27.5px;
}
.frame-parent56 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.wrapped2 {
  position: absolute;
  top: 17px;
  left: 96px;
}
.wrapped-container {
  width: 377px;
  position: relative;
  box-shadow: 12px 12px 4px #7e57c2;
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 112px;
  overflow: hidden;
  flex-shrink: 0;
}
.blend {
  position: absolute;
  top: 17px;
  left: 126px;
}
.frame-parent58 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-45xl);
  color: var(--color-gray-100);
  font-family: var(--font-bebas-neue);
}
.text-6 {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-41xl);
}
.logo-child3,
.text-6-wrapper {
  position: absolute;
  left: 0;
  box-sizing: border-box;
}
.text-6-wrapper {
  top: 149px;
  width: 1728px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0 var(--padding-77xl) var(--padding-77xl);
}
.logo-child3 {
  top: 0;
  border-radius: 50%;
  background-color: var(--color-black);
  border: 7px solid var(--color-red);
  width: 110px;
  height: 110px;
}
.icons8-bot-96-1-16 {
  position: absolute;
  top: 23.5px;
  left: 23px;
  width: 63px;
  height: 63px;
  overflow: hidden;
  object-fit: cover;
}
.logo5 {
  width: 110px;
  height: 110px;
}
.logo5,
.roast-bot5 {
  position: relative;
}
.logo-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  width: 1728px;
  height: 139px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-77xl);
  box-sizing: border-box;
  gap: var(--gap-29xl);
  font-size: var(--font-size-77xl);
  color: var(--color-red);
  font-family: var(--font-bebas-neue);
}
.roast-6 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 1487px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
