.logo-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-black);
  border: 7px solid var(--color-red);
  box-sizing: border-box;
  width: 110px;
  height: 110px;
}
.icons8-bot-96-1-14 {
  position: absolute;
  top: 23.5px;
  left: 23px;
  width: 63px;
  height: 63px;
  overflow: hidden;
  object-fit: cover;
}
.logo3 {
  width: 110px;
  height: 110px;
}
.logo3,
.roast-bot3 {
  position: relative;
}
.logo-parent1 {
  align-self: stretch;
  background-color: var(--color-gray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-77xl);
  gap: var(--gap-29xl);
}
.it-seems-youve {
  flex: 1;
  position: relative;
}
.it-seems-youve-been-stuck-on-wrapper,
.was-a-great-era-for-movies-bu-wrapper {
  background-color: var(--color-slateblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.it-seems-youve-been-stuck-on-wrapper {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) var(--br-31xl) 0;
}
.was-a-great-era-for-movies-bu-wrapper {
  width: 800px;
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  box-sizing: border-box;
}
.frame-child38 {
  width: 26px;
  position: relative;
  height: 27.5px;
}
.frame-parent52,
.frame-parent53 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent53 {
  align-self: stretch;
  justify-content: center;
}
.frame-parent52 {
  width: 800px;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.maybe-wrapper,
.no-wrapper,
.yes-wrapper {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) 0 var(--br-31xl);
  background-color: var(--color-gainsboro-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.maybe-wrapper,
.no-wrapper {
  border-radius: var(--br-31xl) 0 0 var(--br-31xl);
}
.maybe-wrapper {
  border-radius: var(--br-31xl) 0 var(--br-31xl) var(--br-31xl);
}
.option-2,
.option-2-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.option-2 {
  width: 600px;
  align-items: flex-start;
  gap: var(--gap-xs);
}
.option-2-wrapper {
  align-self: stretch;
  align-items: flex-end;
  padding: var(--padding-3xs);
  color: var(--color-gray-100);
}
.wow-you-must-really-enjoy-tor-wrapper {
  align-self: stretch;
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-slateblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.frame-parent54,
.text-4 {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.text-4 {
  width: 1530px;
  gap: var(--gap-29xl);
}
.text-4-wrapper {
  width: 1728px;
  padding: 0 var(--padding-77xl);
  box-sizing: border-box;
}
.roast-4,
.roast-4-inner,
.text-4-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.roast-4-inner {
  align-self: stretch;
  overflow-y: auto;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
.roast-4 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 1358px;
  overflow: hidden;
  gap: var(--gap-25xl);
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--color-red);
  font-family: var(--font-bebas-neue);
}
