.logo-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-black);
  border: 7px solid var(--color-red);
  box-sizing: border-box;
  width: 110px;
  height: 110px;
}
.icons8-bot-96-1-12 {
  position: absolute;
  top: 23.5px;
  left: 23px;
  width: 63px;
  height: 63px;
  overflow: hidden;
  object-fit: cover;
}
.logo1 {
  width: 110px;
  height: 110px;
}
.logo1,
.roast-bot1 {
  position: relative;
}
.logo-group {
  align-self: stretch;
  background-color: var(--color-gray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-77xl);
  gap: var(--gap-29xl);
}
.youre-a-fan {
  flex: 1;
  position: relative;
}
.do-you-really-think-raghuvir-y-wrapper,
.youre-a-fan-of-adam-sandler-wrapper {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-slateblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.do-you-really-think-raghuvir-y-wrapper {
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
}
.text-2-inner {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.and-how-did-you-find-the-circl-wrapper {
  width: 800px;
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-slateblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
  box-sizing: border-box;
}
.frame-child35 {
  width: 26px;
  position: relative;
  height: 27.5px;
}
.frame-parent48,
.text-21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent48 {
  align-self: stretch;
  justify-content: center;
}
.text-21 {
  overflow: hidden;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.good-wrapper,
.i-just-watched-it-for-fun-wrapper {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) 0 var(--br-31xl);
  background-color: var(--color-gainsboro-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.i-just-watched-it-for-fun-wrapper {
  border-radius: var(--br-31xl) 0 var(--br-31xl) var(--br-31xl);
}
.option-1,
.option-1-wrapper {
  display: flex;
  flex-direction: column;
}
.option-1 {
  width: 600px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.option-1-wrapper {
  align-items: flex-end;
  justify-content: center;
  padding: 0 0 0 var(--padding-916xl);
  color: var(--color-gray-100);
}
.interesting-its-rated-quite-wrapper {
  width: 800px;
  border-radius: var(--br-31xl) var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-slateblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
  box-sizing: border-box;
}
.frame-parent47,
.frame-parent49,
.text-2,
.text-2-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-parent47,
.text-2,
.text-2-wrapper {
  justify-content: flex-start;
}
.text-2 {
  align-self: stretch;
  height: 1131px;
  gap: var(--gap-101xl);
}
.frame-parent47,
.text-2-wrapper {
  width: 1728px;
}
.text-2-wrapper {
  padding: 0 var(--padding-77xl);
  box-sizing: border-box;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
.frame-parent47 {
  position: absolute;
  top: 0;
  left: 0;
  gap: var(--gap-25xl);
}
.roast-2 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--color-red);
  font-family: var(--font-bebas-neue);
}
