.logo-2-icon3 {
  width: 70.1px;
  position: relative;
  height: 80px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.about-us3 {
  position: relative;
  cursor: pointer;
}
.logo-2-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-77xl) 0 0;
}
.icons8-bot-96-1-1 {
  width: 200px;
  position: relative;
  height: 200px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.welcome-to-the1 {
  align-self: stretch;
  position: relative;
}
.icons8-bot-96-1-1-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.upload-icon3 {
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.upload-icon3,
.upload-your-viewing2 {
  position: relative;
}
.upload-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-14xl);
}
.frame-parent44,
.frame-wrapper5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-wrapper5 {
  background-color: var(--color-white);
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-5xl) var(--padding-8xl);
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.frame-parent44 {
  width: 1000px;
  align-items: center;
  gap: var(--gap-45xl);
}
.beware-people-who {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-17xl);
  font-family: var(--font-inter);
}
.frame-parent42,
.frame-parent43 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent43 {
  align-self: stretch;
  gap: var(--gap-81xl);
  font-size: var(--font-size-53xl);
}
.frame-parent42 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 1117px;
  padding: 0 var(--padding-77xl);
  box-sizing: border-box;
  gap: var(--gap-101xl);
}
.roast-landing {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-bebas-neue);
}
