.lets-summarize-your {
  flex: 1;
  position: relative;
}
.lets-summarize-your-taste-in-wrapper {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-slateblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.thank-your-obsessions {
  margin: 0;
}
.thank-your-obsessions-the-witc-wrapper {
  align-self: stretch;
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-slateblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.text-5,
.text-5-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-5-inner {
  align-self: stretch;
}
.text-5 {
  width: 800px;
  gap: var(--gap-xs);
}
.logo-child2,
.text-5-wrapper {
  position: absolute;
  left: 0;
  box-sizing: border-box;
}
.text-5-wrapper {
  top: 183px;
  width: 1728px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-77xl);
}
.logo-child2 {
  top: 0;
  border-radius: 50%;
  background-color: var(--color-black);
  border: 7px solid var(--color-red);
  width: 110px;
  height: 110px;
}
.icons8-bot-96-1-15 {
  position: absolute;
  top: 23.5px;
  left: 23px;
  width: 63px;
  height: 63px;
  overflow: hidden;
  object-fit: cover;
}
.logo4 {
  width: 110px;
  height: 110px;
}
.logo4,
.roast-bot4 {
  position: relative;
}
.logo-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  width: 1728px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-77xl);
  box-sizing: border-box;
  gap: var(--gap-29xl);
  font-size: var(--font-size-77xl);
  color: var(--color-red);
  font-family: var(--font-bebas-neue);
}
.roast-5 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
