.logo-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-black);
  border: 7px solid var(--color-red);
  box-sizing: border-box;
  width: 110px;
  height: 110px;
}
.icons8-bot-96-1-13 {
  position: absolute;
  top: 23.5px;
  left: 23px;
  width: 63px;
  height: 63px;
  overflow: hidden;
  object-fit: cover;
}
.logo2 {
  width: 110px;
  height: 110px;
}
.logo2,
.roast-bot2 {
  position: relative;
}
.logo-container {
  align-self: stretch;
  background-color: var(--color-gray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-77xl);
  gap: var(--gap-29xl);
}
.seriously-you-watch {
  flex: 1;
  position: relative;
}
.seriously-you-watch-netflix-m-wrapper,
.youre-a-fan-of-dennis-dugan-wrapper {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-slateblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.youre-a-fan-of-dennis-dugan-wrapper {
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
}
.text-3-inner {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.oh-you-enjoy-tv-comedies-movi-wrapper {
  width: 800px;
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-slateblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
  box-sizing: border-box;
}
.frame-child37 {
  width: 26px;
  position: relative;
  height: 27.5px;
}
.frame-parent51 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.text-3 {
  height: 196px;
  overflow: hidden;
  flex-shrink: 0;
  gap: var(--gap-base);
}
.frame-parent50,
.text-3,
.text-3-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-3-wrapper {
  align-self: stretch;
  padding: 0 var(--padding-77xl);
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
.frame-parent50 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  gap: var(--gap-5xl);
}
.roast-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--color-red);
  font-family: var(--font-bebas-neue);
}
