.logo-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-black);
  border: 7px solid var(--color-red);
  box-sizing: border-box;
  width: 110px;
  height: 110px;
}
.icons8-bot-96-1-11 {
  position: absolute;
  top: 23.5px;
  left: 23px;
  width: 63px;
  height: 63px;
  overflow: hidden;
  object-fit: cover;
}
.logo {
  width: 110px;
  height: 110px;
}
.logo,
.roast-bot {
  position: relative;
}
.logo-parent {
  align-self: stretch;
  background-color: var(--color-gray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-77xl);
  gap: var(--gap-29xl);
}
.so-i-see {
  margin: 0;
}
.so-i-see-container {
  flex: 1;
  position: relative;
}
.oh-wow-youve-been-indulging-wrapper,
.so-i-see-youve-been-consumin-wrapper {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) var(--br-31xl) 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.oh-wow-youve-been-indulging-wrapper {
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-red);
}
.text-1-inner {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.now-lets-analyze-the-actors-wrapper {
  width: 800px;
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-red);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
  box-sizing: border-box;
}
.polygon-icon {
  width: 26px;
  position: relative;
  height: 27.5px;
}
.frame-parent46 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.text-1 {
  width: 800px;
  height: 240px;
  overflow: hidden;
  flex-shrink: 0;
  gap: var(--gap-base);
}
.frame-parent45,
.text-1,
.text-1-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-1-wrapper {
  padding: 0 0 0 var(--padding-77xl);
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frame-parent45 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  gap: var(--gap-25xl);
}
.roast-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--color-red);
  font-family: var(--font-bebas-neue);
}
