.next10 {
  width: 102px;
  position: relative;
  display: inline-block;
  height: 59px;
  flex-shrink: 0;
}
.next-wrapper8 {
  position: absolute;
  top: 912px;
  left: 96px;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  width: 1536px;
  height: 109px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xl) var(--padding-45xl) var(--padding-xl);
  box-sizing: border-box;
  cursor: pointer;
  z-index: 10;
}
.based-on-your7 {
  align-self: stretch;
  position: relative;
  display: inline-block;
  height: 43px;
  flex-shrink: 0;
}
.frame-child80 {
  width: 190.4px;
  position: relative;
  background-color: var(--color-white);
  height: 220px;
  overflow: hidden;
  flex-shrink: 0;
}
.show-name16 {
  align-self: stretch;
  position: relative;
}
.frame-parent132 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent131 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px 326px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
}
.based-on-your-netflix-wrapped-parent {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-77xl);
}
.based-on-your-netflix-wrapped-parent,
.frame-wrapper19,
.show-recs-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-wrapper19 {
  align-self: stretch;
  align-items: flex-start;
}
.show-recs-inner {
  position: absolute;
  width: 100%;
  top: calc(50% - 558.5px);
  right: 0;
  left: 0;
  height: 1117px;
  align-items: center;
  padding: var(--padding-77xl);
  box-sizing: border-box;
  color: var(--color-white);
}
.show-recs {
  width: 100%;
  position: relative;
  background: linear-gradient(247.74deg, #009, #000);
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-bebas-neue);
}
