.next {
  width: 102px;
  position: relative;
  display: inline-block;
  height: 59px;
  flex-shrink: 0;
}
.next-wrapper {
  position: absolute;
  top: calc(50% + 353.5px);
  left: calc(50% - 768px);
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  width: 1536px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xl) var(--padding-45xl) var(--padding-xl);
  box-sizing: border-box;
  cursor: pointer;
}
.youve-spent-a {
  align-self: stretch;
  position: relative;
}
.minutes {
  position: relative;
  font-size: var(--font-size-81xl);
  color: var(--color-goldenrod);
  text-shadow: 13px 13px 4px rgba(0, 0, 0, 0.25);
}
.youve-spent-a-total-of-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hours,
.thats {
  position: relative;
}
.hours {
  font-size: var(--font-size-65xl);
  color: var(--color-lightsalmon);
  text-shadow: 13px 13px 4px rgba(0, 0, 0, 0.25);
}
.thats-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  font-size: var(--font-size-56xl);
}
.frame-container,
.stream-time-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-container {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-131xl);
}
.stream-time-inner {
  position: absolute;
  top: calc(50% - 558.5px);
  left: calc(50% - 864px);
  width: 1728px;
  align-items: flex-start;
  padding: var(--padding-181xl) var(--padding-77xl) 0;
  box-sizing: border-box;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
}
.stream-time {
  width: 100%;
  position: relative;
  background: linear-gradient(247.74deg, #ec5810, #000);
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-bebas-neue);
}
