.youre-a-fan2 {
  flex: 1;
  position: relative;
}
.do-you-really-think-raghuvir-y-container,
.youre-a-fan-of-adam-sandler-container {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-slateblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.do-you-really-think-raghuvir-y-container {
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
}
.text-2-child {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.and-how-did-you-find-the-circl-container {
  width: 800px;
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-slateblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
  box-sizing: border-box;
}
.frame-child47 {
  width: 26px;
  position: relative;
  height: 27.5px;
}
.frame-parent78,
.text-23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent78 {
  align-self: stretch;
  justify-content: center;
}
.text-23 {
  overflow: hidden;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.good-wrapper1,
.i-just-watched-it-for-fun-wrapper1 {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) 0 var(--br-31xl);
  background-color: var(--color-gainsboro-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.i-just-watched-it-for-fun-wrapper1 {
  border-radius: var(--br-31xl) 0 var(--br-31xl) var(--br-31xl);
}
.option-1-container,
.option-12 {
  display: flex;
  flex-direction: column;
}
.option-12 {
  width: 600px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.option-1-container {
  align-items: flex-end;
  justify-content: center;
  padding: 0 0 0 var(--padding-916xl);
  color: var(--color-gray-100);
}
.interesting-its-rated-quite-container {
  width: 800px;
  border-radius: var(--br-31xl) var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-slateblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
  box-sizing: border-box;
}
.frame-parent79,
.property-1default2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.property-1default2 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 1536px;
  height: 1131px;
  justify-content: flex-start;
  gap: var(--gap-101xl);
  color: var(--color-gray-200);
}
.youre-a-fan-of-adam-sandler-frame {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-red);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.do-you-really-think-raghuvir-y-frame {
  align-self: stretch;
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-red);
}
.and-how-did-you-find-the-circl-frame,
.do-you-really-think-raghuvir-y-frame,
.good-wrapper2,
.i-just-watched-it-for-fun-wrapper2 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.and-how-did-you-find-the-circl-frame {
  width: 800px;
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-red);
  box-sizing: border-box;
}
.good-wrapper2,
.i-just-watched-it-for-fun-wrapper2 {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) 0 var(--br-31xl);
  background-color: var(--color-gainsboro-100);
}
.i-just-watched-it-for-fun-wrapper2 {
  border-radius: var(--br-31xl) 0 var(--br-31xl) var(--br-31xl);
}
.option-1-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 0 0 var(--padding-916xl);
  color: var(--color-black);
}
.interesting-its-rated-quite-frame {
  width: 800px;
  border-radius: var(--br-31xl) var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-red);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
  box-sizing: border-box;
}
.property-1variant22 {
  position: absolute;
  top: 1171px;
  left: 20px;
  width: 1536px;
  height: 147px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-101xl);
}
.property-1variant32 {
  top: 1338px;
  height: 304px;
  overflow: hidden;
  gap: var(--gap-101xl);
}
.property-1variant32,
.property-1variant41,
.property-1variant51,
.property-1variant61 {
  position: absolute;
  left: 20px;
  width: 1536px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.property-1variant41 {
  top: 1662px;
  height: 412px;
  overflow: hidden;
  gap: var(--gap-101xl);
}
.property-1variant51,
.property-1variant61 {
  gap: var(--gap-29xl);
}
.property-1variant51 {
  top: 2094px;
  height: 775px;
}
.property-1variant61 {
  top: 2961px;
}
.text-22 {
  width: 100%;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  height: 4112px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
