.it-seems-youve1 {
  flex: 1;
  position: relative;
}
.it-seems-youve-been-stuck-on-container,
.was-a-great-era-for-movies-bu-container {
  background-color: var(--color-slateblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.it-seems-youve-been-stuck-on-container {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) var(--br-31xl) 0;
}
.was-a-great-era-for-movies-bu-container {
  width: 800px;
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  box-sizing: border-box;
}
.frame-child58 {
  width: 26px;
  position: relative;
  height: 27.5px;
}
.frame-parent89,
.frame-parent90 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent90 {
  align-self: stretch;
  justify-content: center;
}
.frame-parent89 {
  width: 800px;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.maybe-wrapper4,
.no-wrapper4,
.yes-wrapper1 {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) 0 var(--br-31xl);
  background-color: var(--color-gainsboro-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.maybe-wrapper4,
.no-wrapper4 {
  border-radius: var(--br-31xl) 0 0 var(--br-31xl);
}
.maybe-wrapper4 {
  border-radius: var(--br-31xl) 0 var(--br-31xl) var(--br-31xl);
}
.option-2-container,
.option-22 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.option-22 {
  width: 600px;
  align-items: flex-start;
  gap: var(--gap-xs);
}
.option-2-container {
  align-self: stretch;
  align-items: flex-end;
  padding: var(--padding-3xs);
  color: var(--color-gray-100);
}
.wow-you-must-really-enjoy-tor-container {
  align-self: stretch;
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-slateblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.frame-parent91,
.property-1default4 {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.property-1default4 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 1530px;
  gap: var(--gap-29xl);
  color: var(--color-gray-200);
}
.it-seems-youve-been-stuck-on-frame {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-red);
}
.it-seems-youve-been-stuck-on-frame,
.maybe-wrapper5,
.no-wrapper5,
.was-a-great-era-for-movies-bu-frame,
.yes-wrapper2 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.was-a-great-era-for-movies-bu-frame {
  width: 800px;
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-red);
  box-sizing: border-box;
}
.maybe-wrapper5,
.no-wrapper5,
.yes-wrapper2 {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) 0 var(--br-31xl);
  background-color: var(--color-gainsboro-100);
}
.maybe-wrapper5,
.no-wrapper5 {
  border-radius: var(--br-31xl) 0 0 var(--br-31xl);
}
.maybe-wrapper5 {
  border-radius: var(--br-31xl) 0 var(--br-31xl) var(--br-31xl);
}
.option-2-frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  color: var(--color-black);
}
.wow-you-must-really-enjoy-tor-frame {
  align-self: stretch;
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-red);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.property-1variant24 {
  position: absolute;
  top: 1215px;
  left: 20px;
  width: 1530px;
  height: 152px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.property-1variant34 {
  top: 2410px;
  height: 772px;
}
.property-1variant34,
.property-1variant43,
.property-1variant52 {
  position: absolute;
  left: 20px;
  width: 1530px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.property-1variant43 {
  top: 3605px;
  height: 1012px;
  overflow: hidden;
}
.property-1variant52 {
  top: 4883px;
}
.text-41 {
  width: 100%;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  height: 6078px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
