.so-i-see1 {
  margin: 0;
}
.so-i-see-container1 {
  flex: 1;
  position: relative;
}
.oh-wow-youve-been-indulging-container,
.so-i-see-youve-been-consumin-container {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) var(--br-31xl) 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.oh-wow-youve-been-indulging-container {
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-red);
}
.property-1default-inner {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.now-lets-analyze-the-actors-container {
  width: 800px;
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-red);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
  box-sizing: border-box;
}
.frame-child41 {
  width: 26px;
  position: relative;
  height: 27.5px;
}
.frame-parent72,
.property-1default {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent72 {
  align-self: stretch;
  justify-content: center;
}
.property-1default {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 800px;
  height: 240px;
  overflow: hidden;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.so-i-see-youve-been-consumin-frame {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-red);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.property-1variant2,
.property-1variant3,
.property-1variant4,
.property-1variant5,
.property-1variant6 {
  position: absolute;
  top: 943px;
  left: 20px;
  width: 800px;
  height: 238px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.property-1variant3,
.property-1variant4,
.property-1variant5,
.property-1variant6 {
  top: 2018px;
  height: 392px;
}
.property-1variant4,
.property-1variant5,
.property-1variant6 {
  top: 3245px;
  height: 544px;
}
.property-1variant5,
.property-1variant6 {
  top: 4668px;
  height: 740px;
}
.property-1variant6 {
  top: 5571px;
  height: 903px;
}
.text-11 {
  width: 100%;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  height: 6514px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
