.heres-what-else1 {
  flex: 1;
  position: relative;
}
.heres-what-else-is-going-on-i-container,
.none-container {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-slateblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.none-container {
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
}
.frame-wrapper12 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child68 {
  width: 26px;
  position: relative;
  height: 27.5px;
}
.frame-parent108 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.wrapped3 {
  position: absolute;
  top: 17px;
  left: 96px;
}
.wrapped-frame {
  width: 377px;
  position: relative;
  box-shadow: 12px 12px 4px #7e57c2;
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 112px;
  overflow: hidden;
  flex-shrink: 0;
}
.blend1 {
  position: absolute;
  top: 17px;
  left: 126px;
}
.frame-parent110 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-45xl);
  color: var(--color-gray-100);
  font-family: var(--font-bebas-neue);
}
.property-1default6 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-41xl);
  color: var(--color-gray-200);
}
.heres-what-else-is-going-on-i-frame,
.none-frame {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-red);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.none-frame {
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
}
.blend-frame {
  width: 377px;
  position: relative;
  box-shadow: 12px 12px 4px #7e57c2;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 112px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent113 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-bebas-neue);
}
.property-1variant26,
.property-1variant36,
.property-1variant45,
.property-1variant54,
.property-1variant63 {
  position: absolute;
  top: 1248px;
  left: 20px;
  width: 800px;
  height: 148px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-41xl);
}
.property-1variant36,
.property-1variant45,
.property-1variant54,
.property-1variant63 {
  top: 2475px;
  height: 252px;
}
.property-1variant45,
.property-1variant54,
.property-1variant63 {
  top: 3703px;
  height: 444px;
}
.property-1variant54,
.property-1variant63 {
  top: 4930px;
  height: 636px;
}
.property-1variant63 {
  top: 6158px;
  height: 828px;
}
.wrapped-wrapper6 {
  width: 377px;
  position: relative;
  box-shadow: 12px 12px 4px #7e57c2;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 112px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.property-1variant7 {
  position: absolute;
  top: 7385px;
  left: 20px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-41xl);
}
.text-61 {
  width: 100%;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  height: 8612.5px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
