.lets-summarize-your1 {
  flex: 1;
  position: relative;
}
.lets-summarize-your-taste-in-container {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-slateblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.thank-your-obsessions1 {
  margin: 0;
}
.thank-your-obsessions-the-witc-container {
  align-self: stretch;
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-slateblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.property-1default-child,
.property-1default5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.property-1default-child {
  align-self: stretch;
}
.property-1default5 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 800px;
  gap: var(--gap-xs);
  color: var(--color-gray-200);
}
.lets-summarize-your-taste-in-frame,
.thank-your-obsessions-the-witc-frame {
  align-self: stretch;
  border-radius: var(--br-31xl) var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-red);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
}
.thank-your-obsessions-the-witc-frame {
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
}
.property-1variant25,
.property-1variant35,
.property-1variant44,
.property-1variant53 {
  position: absolute;
  top: 856px;
  left: 20px;
  width: 800px;
  height: 148px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.property-1variant35,
.property-1variant44,
.property-1variant53 {
  top: 1692px;
  height: 384px;
}
.property-1variant44,
.property-1variant53 {
  top: 2528px;
  height: 532px;
}
.property-1variant53 {
  top: 3364px;
  height: 680px;
}
.frame-child67 {
  width: 26px;
  position: relative;
  height: 27.5px;
}
.property-1variant62 {
  position: absolute;
  top: 4200px;
  left: 20px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.text-51 {
  width: 100%;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  height: 5064px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
