.image-1-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 1117px;
  object-fit: cover;
}
.wrapped1-child,
.wrapped1-child1,
.wrapped1-inner,
.wrapped1-item {
  position: absolute;
  top: 0;
  left: 615px;
  filter: blur(11.2px);
  background-color: var(--color-goldenrod);
  width: 33px;
  height: 1117px;
  overflow: hidden;
}
.wrapped1-child1,
.wrapped1-inner,
.wrapped1-item {
  left: 51px;
  filter: blur(16.1px);
  background-color: var(--color-orangered);
}
.wrapped1-child1,
.wrapped1-inner {
  left: 764px;
  filter: blur(12.4px);
  background-color: var(--color-tomato);
}
.wrapped1-child1 {
  left: 931px;
  background-color: var(--color-lightcoral);
  width: 16px;
}
.wrapped1-child2,
.wrapped1-child3,
.wrapped1-child4,
.wrapped1-child5 {
  position: absolute;
  top: 0;
  left: 332px;
  filter: blur(3.9px);
  background-color: var(--color-red);
  width: 33px;
  height: 1117px;
  overflow: hidden;
}
.wrapped1-child3,
.wrapped1-child4,
.wrapped1-child5 {
  top: -4px;
  left: 495px;
  filter: blur(10.4px);
  background-color: var(--color-lightsalmon);
}
.wrapped1-child4,
.wrapped1-child5 {
  top: 0;
  left: 1695px;
  filter: blur(19.9px);
  background-color: var(--color-darkblue);
}
.wrapped1-child5 {
  left: 1573px;
  filter: blur(33.2px);
  background-color: var(--color-deepskyblue-200);
}
.wrapped1-child6,
.wrapped1-child7,
.wrapped1-child8,
.wrapped1-child9 {
  position: absolute;
  top: 0;
  left: 1437px;
  filter: blur(25.6px);
  background-color: var(--color-mediumblue);
  width: 33px;
  height: 1117px;
  overflow: hidden;
}
.wrapped1-child7,
.wrapped1-child8,
.wrapped1-child9 {
  left: 1033px;
  filter: blur(15.4px);
  background-color: var(--color-hotpink);
}
.wrapped1-child8,
.wrapped1-child9 {
  left: 1106px;
  filter: blur(12.4px);
  background-color: var(--color-mediumpurple);
  width: 16px;
}
.wrapped1-child9 {
  left: 1274px;
  background-color: var(--color-deepskyblue-100);
}
.play-circle-icon {
  position: absolute;
  top: 602px;
  left: 764px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}
.your {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.netflix-wrapped1 {
  position: relative;
  font-size: var(--font-size-81xl);
}
.is-here {
  align-self: stretch;
  position: relative;
}
.wrapped1-inner1,
.your-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.your-parent {
  align-self: stretch;
  height: 240px;
  justify-content: center;
}
.wrapped1-inner1 {
  position: absolute;
  top: 314px;
  left: 588px;
  width: 552px;
  justify-content: flex-start;
}
.wrapped1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-bebas-neue);
}
