.image-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1986px;
  height: 1117px;
  object-fit: cover;
}
.group-child,
.group-item {
  position: absolute;
  top: 4px;
  left: 564px;
  filter: blur(11.2px);
  background-color: var(--color-goldenrod);
  width: 33px;
  height: 1117px;
  overflow: hidden;
}
.group-item {
  left: 0;
  filter: blur(16.1px);
  background-color: var(--color-orangered);
}
.group-child1,
.group-child2,
.group-child3,
.group-child4,
.group-inner {
  position: absolute;
  top: 4px;
  left: 713px;
  filter: blur(12.4px);
  background-color: var(--color-tomato);
  width: 33px;
  height: 1117px;
  overflow: hidden;
}
.group-child1,
.group-child2,
.group-child3,
.group-child4 {
  left: 880px;
  background-color: var(--color-lightcoral);
  width: 16px;
}
.group-child2,
.group-child3,
.group-child4 {
  left: 281px;
  filter: blur(3.9px);
  background-color: var(--color-red);
  width: 33px;
}
.group-child3,
.group-child4 {
  top: 0;
  left: 444px;
  filter: blur(10.4px);
  background-color: var(--color-lightsalmon);
}
.group-child4 {
  top: 4px;
  left: 1644px;
  filter: blur(19.9px);
  background-color: var(--color-darkblue);
}
.group-child5,
.group-child6,
.group-child7,
.group-child8,
.group-child9 {
  position: absolute;
  top: 4px;
  left: 1522px;
  filter: blur(33.2px);
  background-color: var(--color-deepskyblue-200);
  width: 33px;
  height: 1117px;
  overflow: hidden;
}
.group-child6,
.group-child7,
.group-child8,
.group-child9 {
  left: 1386px;
  filter: blur(25.6px);
  background-color: var(--color-mediumblue);
}
.group-child7,
.group-child8,
.group-child9 {
  left: 982px;
  filter: blur(15.4px);
  background-color: var(--color-hotpink);
}
.group-child8,
.group-child9 {
  left: 1055px;
  filter: blur(12.4px);
  background-color: var(--color-mediumpurple);
  width: 16px;
}
.group-child9 {
  left: 1223px;
  background-color: var(--color-deepskyblue-100);
}
.group-div,
.logo-2-icon {
  position: absolute;
  top: -4px;
  left: 51px;
  width: 1677px;
  height: 1121px;
}
.logo-2-icon {
  top: 35px;
  left: 56px;
  width: 70.1px;
  height: 80px;
  overflow: hidden;
  object-fit: contain;
}
.about-us {
  position: absolute;
  top: 28px;
  left: 1552px;
  font-size: var(--font-size-29xl);
  cursor: pointer;
}
.the-unofficial {
  margin: 0;
}
.netflix-wrapped {
  margin: 0;
  font-size: var(--font-size-81xl);
}
.the-unofficial-netflix-container {
  position: absolute;
  top: 349px;
  left: 588px;
  text-align: center;
}
.span {
  font-size: 20px;
}
.open-netflix {
  margin-bottom: 0;
}
.open-netflix-from-the-profile {
  margin: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-21xl);
  padding-left: 53px;
}
.how-to-get-container {
  width: 1488px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.how-to-get-your-data-open-ne-wrapper {
  position: absolute;
  top: 1179px;
  left: 96px;
  width: 1536px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
}
.upload-icon {
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.upload-icon,
.upload-your-viewing {
  position: relative;
}
.upload-parent {
  position: absolute;
  top: 24px;
  left: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-14xl);
}
.wrap-landing,
.wrap-landing-inner {
  background-color: var(--color-white);
  overflow: hidden;
}
.wrap-landing-inner {
  position: absolute;
  top: 606px;
  left: 580px;
  width: 568px;
  height: 96px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.wrap-landing {
  width: 100%;
  position: relative;
  height: 2115px;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-bebas-neue);
}
